<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<title>Django: una app muy básica</title>
	</head>
	<body>
		<div class="menu_contenedor">
			<img src="{% static 'img/logo.png' %}" />
			<div class="menu">
				<div class="menu_izquierda">
					The Sloth Site
				</div>
				<div class="menu_derecha">
					<a class="menu_enlace" href="registrar.html">Registro</a>
					<a class="menu_enlace" href="login.html">Login</a>
				</div>
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>

</html>
